<!DOCTYPE html>
<html lang="en">

<head>
    <title> Example </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="vendor/bootstrap.js"></script>
    <script type="text/javascript" src="vendor/angular.js"></script>    
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="vendor/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="container">
        Value of a is {{a}}, but you can change 
        <input type="text" ng-model="a"> <br>
        
        Value of a is {{b}}, but you can change 
        <input type="text" ng-model="b"> <br>
        <button ng-click="doSum()">Calculate</button> <br>
        Sum = {{sum}}
        
    </div>
</body>
</html>
